<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with computer vision expecially image segmentation. To study about the image segmentation, I studied in <a href="https://www.image.cau.ac.kr/">Image Lab</a> of the Chung-Ang University, and get the Master's degree. In the <a href="https://www.image.cau.ac.kr/">Image Lab</a>, I studied about how to get precise boundary of the object without complicate cacluations. 
            </p>
            <p class="paragraph-text justify-text">
                I hope my research will be applied to products or cultures used by people around the world, giving them fresh and new experiences, and further leaving a big mark in the history of computer vision, which will greatly help research on artificial intelligence.
            </p>
        </div>
    </section>
</div>
