
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a researcher fluent in image segmentation. I'm really interested in studying new technology about computer vision.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #3498db;"><span>Segmentation</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #3498db;"><span>Saliency Detection</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #3498db;"><span>Attention Map</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #3498db;"><span>Artificial Intelligence</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #3498db;"><span>Machine Learning</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #3498db"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>